@page
@model OAuth.AuthorizationServer.Pages.AuthenticateModel
@{
}
AUthenticate

<div>@Model.AuthStatus</div>
<div>Return url: @Model.ReturnUrl</div>

<form method="post">
    <input name="email" value="@Model.Email" />
    <input name="password" value="@Model.password" />
    
    <input type="submit" />

</form>